        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            background: linear-gradient(180deg,#1f1f1f 0%, #161616 60% ,#0d0d0d 100%);
            height: 100vh;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }
        .box-login{
            background-color: #282828;
            width: 350px;
            height: 370px;
            border-radius: 8px;
            margin: 30px auto;
            padding: 20px;
        
        }
        

        h3, p {
            color: #fff;
            text-align: center;
            margin-bottom: 10px;
        }

        #user, #senha {
            
            width: 100%;
            margin-bottom: 10px;
            padding: 8px;

        }

        #senha {
            width: 100%;
            padding-right: 30px;
        }

        label {
            color: #fff;
        }

        .cadastro{
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            background-color: #282828;
            color: #fff;
            opacity: 0.5;
            transition: 0.3s;
            border: none;
            cursor: pointer;
        }
        .cadastro:hover{
            opacity: 1;
        }

        .logar{
            width: 100%;
            padding: 8px;
            margin-top: 10px;
            background-color: #161616;
            color: #fff;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        

        .bi-lock-fill{
            text-align: center;
            font-size: 30px;
            display: block;
            color: #fff;
            margin-bottom: 15px;
        }

        .Userbox input:focus-visible {
            outline: none;
        }
    
        /* Alinhando o Eye com o box da Senha */

        .passwordbox-wrapper{
            position: relative;
            width: 100%;
            margin-bottom: 10px;
        }

        .passwordbox input:focus-visible{
            outline: none;
        }

        .passwordbox {
            position: relative;
            width: 310px 35px;
            margin-bottom: 10px;
        }

        .passwordbox i {
            position: absolute;
            right: 10px;
            color: #1f1f1f;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            padding-bottom: 8px;
        }

        .passwordbox input {
            width: 100%;
            padding-right: 35px;
            box-sizing: border-box;
        }

  